# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/
env/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Archivos pesados de datos crudos (descargables vía src/descargar_ins.py)
data/raw/*.csv
data/raw/*.log
data/raw/casos_covid_colombia.csv
data/raw/download.log

# Archivos temporales de sistema
.DS_Store
Thumbs.db
